<div ng-if="title" class="modal-header default" ng-class="type">
    <h4>{{ title }}</h4>
</div>
<div ng-if="message" class="modal-body scroll scroll-transparent" ng-bind-html="message"></div>
<div class="modal-footer" ng-switch="buttons">
    <div class="btn-group" ng-switch-when="1">
      <button class="btn btn-{{ type }} btn-sm" ng-click="ok('ok')"><i class="fa fa-check"></i> Ok</button>
      <button class="btn btn-link btn-sm" ng-click="cancel('cancel')">Cancel</button>
    </div>
    <div class="btn-group" ng-switch-when="2">
      <button class="btn btn-{{ type }} btn-sm" ng-click="ok('yes')">Yes</button>
      <button class="btn btn-default btn-sm" ng-click="cancel('no')">No</button>
      <button class="btn btn-link btn-sm" ng-click="cancel('cancel')">Cancel</button>
    </div>
    <div class="btn-group" ng-switch-when="3">
      <button class="btn btn-{{ type }} btn-sm" ng-click="ok('yes')">Yes</button>
      <button class="btn btn-default btn-sm" ng-click="cancel('no')">No</button>
    </div>
    <div class="btn-group" ng-switch-default>
      <button class="btn btn-{{ type }} btn-sm" ng-click="ok('ok')"><i class="fa fa-check"></i> Ok</button>
    </div>
</div>
